@media (max-width: 1600.98px)
  .grid-layout
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
  .service__content
    max-height: 480px
  .help, .platform, .soft, .interface, .package, .steps, .feedback, .contacts, .additionally, .compare, .footer
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
  .platform__item_mobile
    top: -160vh
  .with-work
    margin-top: 60px
  .about
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
    margin-top: 60px
    &__img
      margin-top: -135px
    &__vector
      top: -522px
  .package__text
    height: 215px
  .interface__wrapper
    max-width: 40%
  .modal
    margin: 50px 0
  .platform__white
    height: 90%
  .necessary
    &__img
      grid-column: 9/span 16
    &:after
      right: 0
@media (max-width: 1440.98px)
  .grid-layout, .help, .platform, .soft, .interface, .package, .feedback, .contacts, .additionally, .compare, .footer
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr))
  .header__nav_item
    padding: 5px 2%
  .help__content
    padding-left: 15px
  .help__img
    max-width: 250px
    padding: 2%
    svg
      max-width: 100%
  .platform__item_desktop
    grid-column: 1/12
  .platform__item_tablet
    grid-column: 9 / 11
    top: -70vh
    left: 20vw
  .platform__item_mobile
    top: -80vh
    grid-column: 12 / 13
  .package__text
    height: 255px
  .necessary
    &__img
      svg
        max-width: 100%
@media (max-width: 1367.98px)
  .grid-layout, .platform, .soft, .interface,  .package, .compare, .feedback, .contacts, .additionally, .footer, .about
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr))
  .container, .package .container
    grid-column: 2/16
  .service
    &__monitor
      grid-column: 1/11
    &__content
      grid-column: 11/16
  .package__text
    height: 200px
  .about__info
    grid-column: 2 / 8
  .about__img
    grid-column: 10 / span 16
  .about__vector
    left: -321px
  .footer__item
    padding-left: 30px
  .about__number
    flex: 0 0 40%
    max-width: 40%
  .necessary
    padding-bottom: 0
@media (max-width: 1280.98px)
  .grid-layout, .platform, .soft, .interface, .compare, .package, .feedback, .contacts, .additionally, .footer, .about
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr))
  .about__numbers
    flex-wrap: wrap
  .about__img
    grid-column: 8 / span 16
    margin-top: -100px
  .footer_left
    grid-column: 1/6
  .footer_right
    grid-column: 10/13
  .footer_center
    grid-column: 8/9
  .footer__social
    grid-column: 1/13
  .header__topbar
    margin-bottom: 30px

@media (max-width: 1024.98px)
  .grid-layout, .platform, .soft, .interface, .compare, .package, .feedback, .contacts, .additionally, .footer, .about
    grid-column: 1/ span 12
  .container, .package .container
    grid-column: 2/ 12
  .header
    &__topbar
      grid-template-rows: 65px 30px 50px
      margin-bottom: 50px
    &__logo
      grid-column: 1 / 5
    &__info_first
      grid-column: 7 / 12
      text-align: right
    &__info_second
      grid-column: 9 / 12
      grid-row: 3 / 3
      order: 3
      text-align: right
    &__callback
      order: 4
      grid-column: 1 / 5
      grid-row: 3 / 4
    &__icon_worktime:before,  &__icon_adress:before
      left: 10px
    &__icon_phone:before, &__icon_email:before
      left: -20px
    &__content_wrapper
      grid-column: 2/12
      margin-bottom: 30px
    &__video
      grid-column: 2/12
      margin-left: 0
    &__nav_item
      padding: 5px 1%
  .service
    grid-column: 1 / span 12
    grid-template-columns: repeat(12, 1fr)
    &__monitor
      grid-column: 1/12
    &__content
      grid-column: 2/12
      max-height: 270px
      order: -1
    &__title
      grid-column: 2 / span 5
      margin-left: 0
      margin-top: 20px
      height: 100px
    &__white
      grid-column: 1/span 12
  .necessary
    &__info
      grid-column: 2/span 16
    &__img
      grid-column: 2/span 16
      margin-top: -140px
  .platform
    max-height: 750px
    &__white
      height: 95%
    &__content
      grid-template-columns: repeat(12, 1fr)
    &__item_desktop
      grid-column: 1/9
    &__item_tablet
      grid-column: 7/ span 12
      top: -45vh
      left: -10vw
    &__item_mobile
      top: -100vh
      left: 0
      grid-column: 10/ span 12
  .soft:before
    top: -700px
  .package__item_left
    grid-column: 1/7
  .package__item_right
    grid-column: 7/span 12
  .feedback__wrapper
    margin: 0
  .with-work .soft__item
    padding: 10px
  .footer_left
    grid-column: 1/7
  .compare
    &__left
      display: none
    &__center
      grid-column: 1/7
    &__right
      grid-column: 7/13
@media (max-width: 991.98px)
  .grid-layout, .help, .platform, .soft, .interface, .compare, .package, .feedback, .contacts, .additionally, .footer, .about
    grid-column: 1/ span 9
  .container, .package .container
    grid-column: 2/9
  .top-container
    grid-column: 1/span 9
  .header
    padding-top: 0
    &-design:after, &-design:before
      content: none
    &__topbar
      display: none
    &__nav
      display: none
    &__content
      padding-top: 150px
      grid-column: 2/9
      grid-template-columns: repeat(9, 1fr)
    &__content_wrapper
      grid-column: 1/ span 9
      grid-template-columns: repeat(9, 1fr)
    &__title,  &__subtitle, &__video
      grid-column: 2/9
      padding-left: 0
  .header-mobile
    display: grid
  .service
    grid-template-rows: minmax(70px, auto)
    grid-column: 1 / span 9
    grid-template-columns: repeat(9, 1fr)
    &__content
      order: 1
      height: 100%
      max-height: 100%
      grid-column: 1/span 9
      .synced
        display: grid
        grid-template-columns: repeat(9, 1fr)
      &-item
        grid-column: 2/9
    &__title
      grid-column: 1 / span 5
      &:after
        width: 40%
    &__monitor
      margin-left: 0
      grid-column: 1/span 9
  .platform
    max-height: 510px
    &__item_mobile
      top: -75vh
  .interface
    padding-bottom: 0
    &__wrapper
      max-width: 100%
  .package
    &__item_left
      margin-right: 0
    &__item_right
      margin-left: 0
    &__text
      height: auto
  .feedback
    -webkit-background-size: cover
    background-size: cover
    &__wrapper
      grid-column: 2 / span 9
      grid-template-rows: repeat(3, 50px)  135px 50px
    &__input
      grid-column: 1/span 3
  .about
    justify-items: center
    &__vector
      display: none
    &__info
      grid-column: 2/9
    &__numbers
      text-align: center
    &__number
      margin: 0 auto 15px
    &__img
      grid-column: 1/span 9
      order: -1
      margin-top: 0
  .only-desktop
    display: none
  .only-mobile
    display: block
  .soft__wrapper
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(4, 1fr)
  .contacts
    &__wrapper
      grid-template-columns: repeat(1, 1fr)
  .footer
    &_left
      grid-column: 1/9
    &_center
      grid-column: 1/4
    &_right
      grid-column: 5/ span 9
    &__social
      grid-column: 1/9
    &__social-wrapper
      justify-content: flex-start
    &__social-title
      text-align: left
  .compare
    padding-top: 0
    &__title
      display: none
    &__center, &__right
      grid-column: 1/13
@media (max-width: 480.98px)
  .grid-layout, .help, .platform, .soft, .interface, .compare, .package, .feedback, .contacts, .additionally, .footer, .about, .header-mobile
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
    padding-left: 15px
    padding-right: 15px
    box-sizing: border-box
  .container, .package .container
    grid-column: 1/span 4
  .top-container
    grid-column: 1/span 4
  .title
    font-size: 20px
    line-height: 25px
  .header-mobile
    margin-left: -15px
    margin-right: -15px
    box-sizing: border-box
    width: 110%
    &__logo
      grid-column: 1/4
    &__btn
      grid-column: 4/4
    &__content
      grid-column: 1/span 4
  .header
    &__title
      font-size: 20px
      line-height: 25px
    &__subtitle
      font-size: 16px
    &__content
      grid-column: 1/4
      grid-template-columns: repeat(4, 1fr)
    &__content_wrapper
      grid-column: 1/ span 4
      grid-template-columns: repeat(4, 1fr)
    &__title,  &__subtitle, &__video
      grid-column: 1/span 4
  .service
    grid-column: 1 / span 4
    grid-template-columns: repeat(4, 1fr)
    margin-left: -15px
    margin-right: -15px
    &__title
      grid-column: 2/4
      font-size: 20px
      height: 56px
      margin-left: -75px
      &:after
        right: -30px
  .necessary
    grid-column: 1 / span 4
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
    &__info
      grid-column: 1/span 4
    &__img
      grid-column: 1/span 4
      margin-top: -200px
      margin-bottom: -220px
      margin-right: -15px
      margin-left: -15px
    &__title
      grid-column: 2/4
      font-size: 20px
      height: 56px
      margin-left: -75px
      &:after
        right: -30px
    &__btn
      margin: 40px auto 0
  .compare
    margin-right: -15px
    margin-left: -15px
  .platform
    margin-right: -30px
    margin-left: -30px
    max-height: 415px
    &__content
      margin-left: -15px
      margin-right: -15px
    &__item_mobile
      left: 4vw
    .container
      padding: 0 15px
      box-sizing: border-box
    &__item_tablet
      top: -25vh
    &__item_mobile
      top: -55vh
  .interface
    margin-left: -15px
    margin-right: -15px
    &__btns
      flex-wrap: wrap
    &__btn
      &_trns
        margin-bottom: 15px
  .feedback
    margin-left: -15px
    margin-right: -15px
    &__wrapper
      grid-column: 1/ span 4
      box-sizing: border-box
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
    &__recaptcha, &__input, &__comm, &__file-wrapper, &__confidencial, &__submit
      grid-column: 1/ span 4
      max-width: 100%
  .about
    margin-left: -15px
    margin-right: -15px
    .title
      padding-left: 15px
    &__img
      margin-left: -15px
      margin-right: -15px
    &__info
      grid-column: 1/span 4
      margin-top: 20px
    &__descr
      font-size: 28px
    &__number
      flex: 0 0 60%
      max-width: 60%
  .contacts
    margin-left: -15px
    margin-right: -15px
    padding-bottom: 0
    &__offices_title
      font-size: 25px
      line-height: 25px
  .map
    margin-right: -15px
    margin-left: -15px
    grid-column: 1/span 4
    grid-template-columns: repeat(4, 1fr)
    img
      grid-column: 1/span 4
      width: 100%
  .additionally .title sup
    font-size: 25px
  .footer
    margin-left: -15px
    margin-right: -15px
    .container
      grid-template-columns: repeat(4, 1fr)
    &_center
      grid-column: 1/3
    &_right
      grid-column: 3/span 4
    &__item
      line-height: 1.5em
    &__bottom
      flex-wrap: wrap
    &__copyright
      margin-top: 20px
  .soft
    display: none
  .soft-mobile
    display: grid
    margin-left: -15px
    margin-right: -15px
  .package
    margin-left: -15px
    margin-right: -15px
    &__bg
      font-size: 20px
      line-height: 25px
    &__list-opacity
      display: none
  .additionally
    &__btn
      margin: 20px auto 0
@media (max-width: 375.98px)
  .feedback
    &__wrapper
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
@media (max-width: 360.98px)
  .grid-layout, .help, .platform, .soft, .interface, .compare, .package, .feedback, .contacts, .additionally, .footer, .about, .header-mobile
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr))
  .platform
    max-height: 700px
    &__item_tablet
      top: -18vh
    &__item_mobile
      top: -40vh
      left: 4vw
  .package__btn
    width: auto
  .package
    padding-bottom: 0
  .soft-mobile__slide
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
  .feedback
    &__wrapper
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))

